* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}



@media screen and (min-width: 1024px) {

    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 5%;
        /* mix-blend-mode: difference; */
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 15vh;
        z-index: 1000;
    }

    .logo {
        font-size: 34px;
        color: #fff;
    }

    .burger-container {
        width: 30px;
    }

    .burger {
        width: 23px;
        height: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.3s ease;

    }

    .burger:hover {
        width: 26px;
    }

    .burger span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
    }

    .menu-btn {
        display: none;
    }


    .nav-links {
        display: flex;
        align-items: flex-end;
        width: 50%;
        list-style: none;
        justify-content: space-between;
        height: 30px;
    }

    .nav-links li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }




    header {
        z-index: 1;
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    header video {
        z-index: 1;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .header-cursor-container {
        display: flex;
        flex-direction: column;
        z-index: 10;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90vh;
        top: 10vh;
    }

    .cursor-container {
        /* transform: translate(-50%, -50%); */
        transition: all 0.3s ease;
        transform-origin: 100% 100%;
        
    }

    .header-cursor {
        height: 130px;
        width: 130px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .cursor-container p {
        text-align: center;
    }


    /* about */
    .about{
        display: flex;
        padding: 10rem 5%;
        background-color: #f4f4f4;
    }

    .about-text-container {
        width: 50%;

    }

    .about-text {
        font-size: 38px;
        line-height: 42px;
        font-weight: 500;
        color: #252422;
    }

    .about-text span {
        font-size: 40px;
    }

    .cta-btn {
        margin-top: 3rem;
        border: 1px solid #252422;
        height: 30px;
        width: 170px;
        border-radius: 15px;
        cursor: pointer;
    }

    .about-logo {
        padding: 0;
        height: 60vh;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .about-logo p {
        color: #252422;
        font-size: 180px;
        font-weight: 700;
    }

    .about-logo span {
        color: #252422;
        font-size: 330px;
        font-weight: 300;
        position: relative;
        bottom: 4rem;
    }



    /* work section */
    .work-section {
        display: flex;
        width: 100%;
        padding: 0 5% 3rem;
        gap: 1rem;
        background-color: #f4f4f4;
    }

    .work-card {
        width: 100%;
        background-color: aqua;
        
    }

    .work-img-container {
        background-color: yellowgreen;
        width: 100%;
        height: 500px;
        
    }

    .work-img {
        width: 100%;
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .work-img1 {
        background-image: url(/assets/work1-thumbnail.jpg);
    }

    .work-img2 {
        background-image: url(/assets/work2-thumbnail.jpg);
    }

    .work-img-container video {
        height: 500px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }






}






















