* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}



@media screen and (min-width: 1024px) {

    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 5%;
        /* mix-blend-mode: difference; */
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 15vh;
        z-index: 1000;
    }

    .logo {
        font-size: 34px;
        color: #fff;
    }

    .burger-container {
        width: 30px;
    }

    .burger {
        width: 23px;
        height: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.5s ease;

    }

    .burger:hover {
        width: 26px;
    }

    .burger span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
    }

    .menu-btn {
        display: none;
    }


    .nav-links {
        display: flex;
        align-items: flex-end;
        width: 50%;
        list-style: none;
        justify-content: space-between;
        height: 30px;
    }

    .nav-links li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }




    header {
        z-index: 1;
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    header video {
        z-index: 1;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .header-cursor-container {
        display: flex;
        flex-direction: column;
        z-index: 10;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90vh;
        top: 10vh;
    }

    .header-cursor {
        height: 130px;
        width: 130px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cursor-container p {
        text-align: center;
    }






}






















